<%= turbo_frame_tag "modal" do %>
  <div class="flex justify-center" data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd keyup@window->turbomodal#closeWithKeyBoard">
    <div class="fixed z-10 grid content-center grid-cols-1 gap-4 h-full">
      <div class="relative w-full max-w-md max-h-full" data-action="click@window->turbomodal#closeWithBackgroundClick" data-turbomodal-target="modal">
        <div class="relative bg-white rounded-lg shadow">
          <button type="button" data-action="turbomodal#hideModal" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <div class="flex justify-around">
              <%= link_to "Войти", new_user_session_path,
                          class: "text-forest", data: {turbo_frame: "modal", action: "turbomodal#hidemodal"} %>
              <h3 class="underline underline-offset-8 text-forest">Регистрация</h3>
            </div>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "space y-6") do |f| %>
              <div class="mb-3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email",
                                  class: "input-deep-ocean focus:ring-blue-500 focus:border-blue-500 w-full p-2.5", placeholder: "Почта", id: "email" %>
              </div>

              <div class="mb-3">
                <%= f.password_field :password, autocomplete: "current-password",
                                     class: "input-deep-ocean focus:ring-blue-500 focus:border-blue-500 w-full p-2.5", placeholder: "Пароль", id: "password" %>
              </div>

              <div class="mb-3">
                <%= f.password_field :password_confirmation, autocomplete: "current-password",
                                     class: "input-deep-ocean focus:ring-blue-500 focus:border-blue-500 w-full p-2.5", placeholder: "подтвердите пароль", id: "password_confirmation" %>
              </div>

              <%= f.submit "Регистрация", class: "btn-deep-ocean mt-4" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>