<div class="mt-4">
  <h3 class="mb-2"><%= setting.name %></h3>
  <div class="flex justify-normal">
    <% values.each do |value| %>
      <div class="grid w-min mx-5">
        <div class="inline-block radio">
          <input id="radio-<%= value.id %>" type="radio" value="<%= value.value %>" name="advertisement_additional[<%= setting.name %>]" class="hidden">
          <label for="radio-<%= value.id %>" class="px-2 py-1 rounded-lg flex justify-center items-center text-1xl lg:text-1xl font-bold w-max h-10"><%= value.value %></label>
        </div>
      </div>
    <% end %>
  </div>
</div>