<!DOCTYPE html>
<html>
  <head>
    <title>Shopymib</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen">
    <%= render 'shared/navbar' %>
    <%= turbo_frame_tag :modal %>
    <main class="h-full" id="main">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </main>
  </body>
</html>
